<script type="text/javascript" src="/scripts/main.bundle.js"></script>
<header>
  <a href="/"><img class="logo" src="/img/imagine.dat_logo.png"/></a>
  <div class="navigation">
    <div class="nav_link">
      <a href="{% link challenge_guide.html %}">CHALLENGE GUIDE<div class="underline"></div></a>
    </div>
    
    <div class="nav_link">
      <a href="{% link past_challenges.html %}">PAST CHALLENGES<div class="underline"></div></a>
    </div>
  </div>
  <div id="nav_hamburger" class="">
     <div class="bar bar_top"></div>
     <div class="bar bar_middle"></div>
     <div class="bar bar_bottom"></div>
 </div>
  <div class="sidenav">
    <a href="/"><img class="logo" src="/img/imagine.dat_logo.png"/></a>

    <div class="sidenav_links">
        <div class="sidenav_link">
          <a href="{% link challenge_guide.html %}">CHALLENGE GUIDE<div class="underline"></div></a>
        </div>
        <div class="sidenav_link">
          <a href="">PAST CHALLENGES<div class="underline"></div></a>
        </div>
    </div>
  </div>

</header>
