
<header>
  <a href="/"><img class="logo" src="img/imagine.dat_logo.png"/></a>
  <div class="navigation">
    <div class="nav_link">
      <a href="">CHALLENGE GUIDE<div class="underline"></div></a>
    </div>
    <div class="nav_link">
      <a href="">PAST CHALLENGE<div class="underline"></div></a>
    </div>
  </div>
  <div class="in_touch">
    <a href="https://github.com/imagine-dat"><svg class="icon"><use xlink:href="#github-icon" /></svg></a>
    <a href="mailto:dyt.imagine.dat@gmail.com"><svg class="icon"><use xlink:href="#email-icon" /></svg></a>
    <a href="https://twitter.com/imagine_dat_dyt"><svg class="icon"><use xlink:href="#twitter-icon" /></svg></a>
  </div>
</header>
