<script type="text/javascript" src="/scripts/main.bundle.js"></script>
<header>
  <a href="/"><img class="logo" src="/img/imagine.dat_logo.png" /></a>
  <div class="navigation">

    <div class="nav_link_wrapper">
      <a class="nav_link" href="{% link about_us.html %}"
        >ABOUT US
        <div class="underline"></div
      ></a>
    </div>


    <div class="nav_link_wrapper">
      <a class="nav_link" href="{% link past_challenges.html %}"
        >NEWS &amp; EVENTS
        <div class="underline"></div
      ></a>
    </div>

    <div class="nav_link_wrapper">
      <a class="nav_link" href="{% link mailing_list.html %}"
        >MAILING LIST
        <div class="underline"></div
      ></a>
    </div>

  </div>
  <div id="nav_hamburger" class="">
    <div class="bar bar_top"></div>
    <div class="bar bar_middle"></div>
    <div class="bar bar_bottom"></div>
  </div>
  <div class="sidenav">
    <div class="sidenv_logo">
      <a href="/"><img class="logo" src="/img/imagine.dat_logo.png" /></a>
    </div>

    <div class="sidenav_links">

      <div class="sidenav_link_wrapper">
        <a class="sidenav_link" href="{% link  about_us.html %}"
          >ABOUT US
        </a>
      </div>
      <div class="sidenav_link_wrapper">
        <a class="sidenav_link" href="{% link past_challenges.html %}"
          >NEWS &amp; EVENTS
        </a>
      </div>
      <div class="sidenav_link_wrapper">
        <a class="sidenav_link" href="{% link  mailing_list.html %}"
          >MAILING LIST
        </a>
      </div>
    </div>
  </div>
</header>
