// Header component on the front page
header {
    background-color: white;
    background-size: cover;
    color: $clr-white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    // min-height: 66%;

    // @include media($desktop) {
        // display: flex;
        // flex-direction: row;
        // padding: 2.0em;
        // text-align: left;
    // }

    .logo {
      padding: 0.5em;
      width: 50%;
    }

    .in_touch {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-right: 1em;

      .icon {
        width: 20px;
        height: 20px;
        fill: $clr-eggplant;
        padding: 0 0.3em;
        vertical-align: middle;
      }
    }
}
