// Header component on the front page
header {
    background-color: white;
    background-size: cover;
    color: $clr-white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    // min-height: 66%;

    // @include media($desktop) {
        // display: flex;
        // flex-direction: row;
        // padding: 2.0em;
        // text-align: left;
    // }
    a {
      .logo {
        padding: 0.5em;
        width: 200px;
      }
    }

    .navigation {
      height: 100%;
      margin: auto 0;
      vertical-align: middle;
      display: flex;

      .nav_link {

        margin-top: 0.3em;

        a {
          text-decoration: none;
          color: $clr-gray-40;
          text-align: center;
          font-size: 0.8em;
          letter-spacing: 2px;
          padding: 0 0.8em;
          // padding-bottom: 1em;

          .underline {
            height: 8px;
            z-index: 0;
            width: 100px;
            background-color: transparent;
            margin: -15px 0 0 1em;
          }
        }
        a:hover {
          // border-bottom: 5px solid $clr-lime;
          // // transition: 0.5s ease-in;
          // transform: translate(20px, -70px);
          .underline {
            background-color: $clr-lime;
          }
        }
      }
    }

    .in_touch {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-right: 1em;

      .icon {
        width: 20px;
        height: 20px;
        fill: $clr-eggplant;
        padding: 0 0.3em;
        vertical-align: middle;
      }
    }
}
