// Header component on the front page
header {
    background-color: white;
    background-size: cover;
    color: $clr-white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    // min-height: 66%;

    // @include media($desktop) {
        // display: flex;
        // flex-direction: row;
        // padding: 2.0em;
        // text-align: left;
    // }

    .logo {
      color: $clr-eggplant;
      padding: 1em;
      font-size: 1.5em;
      font-weight: bold;
    }

    .in_touch {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-right: 1em;

      .icon {
        height: 1.8rem;
        padding: 8px;
      }
    }
}
