.sidenav {
    width: 0;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $clr-white;
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;
    padding-top: 0.5em;

    .sidenv_logo {
      float: left;
      .logo {
        padding: 0.5em;
        width: 200px;
      }
    }

    .sidenav_links {
      padding-top: 3em;
      display: block;

        .sidenav_link {

          color: $clr-gray-40;
          font-size: 1em;
          letter-spacing: 2px;
          text-decoration: none;
          margin: 1em;
          padding-bottom: 1em;

          &:hover {
            color: $clr-eggplant;
          }
          
        }
    }
}

.sidenav_slideIn {
    width: 100%;
}

.sidenav_slideOut {
    width: 0;
}

.sidenav_link_wrapper {
  margin: 1em;
}
