.Past_Challenge{

    &__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    }

    

    &__item{
        margin: 1em 0 0 1em;
        height: 100%;

        &-container{
            display: flex;
            flex-direction: row;
            height: 6em;
        }

        &-excerpt{
          >a{
            text-decoration: none;
            width: 30%;
            .underline {
              width: inherit;
              background-color:transparent;
              height: .5em;
              margin: -1.35em 0 0 .25em;
          }
            &:hover {
              .underline {
                  background-color: $clr-lime;
              }
            }
          }

        }
        &-text{
          font-size: 0.8em;
          line-height: 25px;
          margin: .5em 2em .5em 0;
          
        }

        &-title{
            color: $clr-gray-40 !important;
            font-size: .9em;
            font-weight: normal !important;
            text-transform: uppercase;
          }

        &-featImg{
            max-width: 8em;
            margin: 0 1em .75em 0;

        }
    }

   
}